<div class="header-container"> 
    <div class="logo-container"> 
      <a href="/">
        <img class="logo" src="/images/logo.fw.png" width="250rem" alt="LOGO" />
      </a> 
    </div>
    <button class="hamburger-menu">☰</button> 
  </div> 
  <div class="icons-header">
    <a class="nav-link" href="/">INICIO</a>
    <a class="nav-link" href="/nosotros">NOSOTROS</a>
    <a class="nav-link" href="/kinesiologia">KINESIOLOGIA</a>
    <a class="nav-link" href="/ortopedia">ORTOPEDIA</a>
    <a class="nav-link" href="/plantillas">PLANTILLAS</a>
    <a class="nav-link" href="/#obras-sociales-container">OBRAS SOCIALES</a>
    <a class="nav-link" href="/#socialContainer">CONTACTO</a>
  </div>