<!DOCTYPE html>
<html lang="en">
  <head>
     <%- include partials/head %> 
  </head>
  
<body>
  <div id="header-container">
  <header>
  <%- include partials/header %>
  </header>
</div>
  
  <div id="videoContainer">
    <video autoplay muted loop id="myVideo">
      <source src="/images/video1.mp4" type="video/mp4">
    </video>
    <div id="videoText">
      <span id="firstPart">CONSTRUYENDO EXCELENCIA EN SALUD Y RENDIMIENTO</span>
      <span id="lastPart">PASO A PASO</span>
    </div>
  </div>

  <div id="doctorsSection">
    <h1>Nuestros Profesionales</h1>
    <div class="contenedorProfesionales">
      <div class="profesional">
        <img src="/images/guille.fw.png" alt="doctor1">
        <h2>Lic. Guillermo Arias</h2>
        <h3>Kinesiólogo</h3>
        <h3>MP: 4989</h3>
        <p>Licenciado en Kinesiología y Fisioterapia. Osteopatía y Posturología</p>
      </div>
      <div class="profesional">
        <img src="/images/jor.fw.png" alt="doctor2">
        <h2>Lic. Jorge Arias</h2>
        <h3>Kinesiólogo</h3>
        <h3>MP:7167</h3>
        <p>Licenciado en Kinesiología y Fisioterapia. Especialista en rehabilitacion traumatológica, deportiva y alteracion de pisada</p>
      </div>
      <div class="profesional">
        <img src="/images/lu.fw.png" alt="doctor3">
        <h2>Lic. Lucia Cazajous</h2>
        <h3>Kinesióloga</h3>
        <h3>MP:8337</h3>
        <p>Especialista en rehabilitacion traumatológica, deportiva y alteracion de pisada</p>
      </div>
    </div>
  </div>

  <div class="servicios-container">

    <h1>Nuestros Servicios</h1>

    <div class="servicios">
      
    <div class="tarjeta-servicio">
      <img src="/images/kinesiologia.jpeg" alt="kinesiologia">
      <h2>Kinesiología y Fisioterapia</h2>
      <p>La kinesiología es una ciencia de la salud que se encarga del estudio del movimiento humano, desde una perspectiva integral, es decir, abarcando todos los aspectos que lo componen: físico, psicológico y social.</p>
      <div class="masInfo">
        <a href="/servicios">Más información</a>
      </div>
    </div>
    <div class="tarjeta-servicio">
      <img src="/images/osteopatia.jpg" alt="osteopatia">
      <h2>Osteopatía</h2>
      <p>La osteopatía es una terapia manual que se basa en la creencia de que todos los sistemas del cuerpo están relacionados y por lo tanto los trastornos en un sistema pueden afectar el funcionamiento de los otros.</p>
      <div class="masInfo">
        <a href="/servicios">Más información</a>
      </div>
    </div>
    <div class="tarjeta-servicio">
      <img src="/images/postural.jpg" alt="evaluacion-postural">
      <h2>Evaluación Postural</h2>
      <p>La evaluación postural es un examen que se realiza para determinar la posición de las diferentes estructuras del cuerpo en relación a un patrón de referencia, que es la postura ideal.</p>
      <div class="masInfo">
        <a href="/servicios">Más información</a>
      </div>
    </div>
    <div class="tarjeta-servicio">
      <img src="/images/acupuntura.jpg" alt="acupuntura">
      <h2>Acupuntura</h2>
      <p>La acupuntura es la aplicación de agujas, calor, presión y otros tratamientos en lugares de la piel llamados puntos de acupuntura (o acupuntos) para controlar síntomas como dolor, o náuseas y vómitos. La acupuntura forma parte de la medicina tradicional china  </p>
      <div class="masInfo">
        <a href="/servicios">Más información</a>
      </div>
    </div>
    <div class="tarjeta-servicio">
      <img src="/images/reeducacion.jpg" alt="reeducacion">
      <h2>Reeducacion Postural Global (R.P.G)</h2>
      <p>Podemos resumir la RPG como un método de tratamiento de fisioterapia enfocado en detectar, evaluar y tratar las causas que provocan alteraciones posturales en nuestro cuerpo y que nos provocan dolor, aumentos de tensión y cambios estructurales. </p>
      <div class="masInfo">
        <a href="/servicios">Más información</a>
      </div>
    </div>
    <div class="tarjeta-servicio">
      <img src="/images/pisada.jpg" alt="pisada">
      <h2>Diagnostico y tratamiento de la pisada</h2>
      <p> Este tratamiento incluye :</p>
      <ul> 
        <li>Plantillas de uso diario, deportivas y pediátrica</li>
        <li>Estudio computarizado de la pisada</li>
        <li>Evaluacion postural completa</li>
        <li>Tecnicas de correccion postural y osteopatia</li>
        <li>Re-evaluación post-tratamiento sin cargo</li>
      </ul>
      <div class="masInfo">
        <a href="/servicios">Más información</a>
      </div>
    </div>
  </div>
  </div>

  <div class="obras-sociales-container">
    
    <h1>Obras Sociales</h1>

    <div class="obras-sociales">

      <div class="tarjeta-obra-social">
        <img src="/images/obras-sociales/medife.png" alt="medife">
      </div>
      <div class="tarjeta-obra-social">
        <img src="/images/obras-sociales/omint.png" alt="omint">
      </div>
      <div class="tarjeta-obra-social">
        <img src="/images/obras-sociales/osde.png" alt="osde">
      </div>
      <div class="tarjeta-obra-social">
        <img src="/images/obras-sociales/apross.jpg" alt="apross">
      </div>
      <div class="tarjeta-obra-social"> 
        <img src="/images/obras-sociales/ospe.jpg" alt="ospe">
      </div>
      <div class="tarjeta-obra-social"> 
        <img src="/images/obras-sociales/swiss.jpg" alt="swiss">
      </div>

    </div>
  </div>

  <div id="videoContainerFooter">
    <video autoplay muted loop id="myVideoFooter">
      <source src="/images/video2.mp4" type="video/mp4">
    </video>
      <div id="videoTextFooter">
    <span id="primeraParte">Nos pongamos en contacto</span>
    <span id="ultimaParte">Te Esperamos</span>
      </div>
  <div id="container-contacto">
    <div id="datos">
    <h2>Consultorio</h2>
    <p>Carlos Alberto Becú 3111</p>
    <p>CP 5000 Córdoba, Argentina</p>
    <h2>Lunes a Viernes</h2>
    <p>8:00 AM - 8:00 PM</p>
    <h2>Sábados</h2>
    <p>8:30 AM - 13 PM</p>
    <h2>WhatsApp</h2>
    <p>+54-351-765-1805</p>
  </div>
  <div id="mapContainer">
    <div id="mapWrapper" style="max-width: 600px; margin: auto;">
      <h2>Como llegar</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13615.043913527237!2d-64.1885645!3d-31.4482466!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a2fbd25d768f%3A0xd4c67be13060984e!2sSPORTKINESIO%20%22%20Ortopedia%20-%20Fisioterapia-%20Osteopat%C3%ADa%20-%20Reeducaci%C3%B3n%20Postural%20-%20Apto%20M%C3%A9dico%20Deportivo.%22!5e0!3m2!1ses-419!2sar!4v1699357828736!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  </div>
  
  <div id="socialContainer">
      <h4>Escribinos tu consulta</h4> 
      <form>
        <label for="name">Nombre:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>

        <label for="obraSocial">Motivo de la Consulta</label><br>
        <select id="motivo" name="motivo">
        <option value="">Selecciona una opción</option>
        <option value="KINESIOLOGIA">KINESIOLOGIA</option>
        <option value="OSTEOPATIA">OSTEOPATIA</option>
        <option value="REIKI">REIKI</option>
        <option value="ORTOPEDIA">ORTOPEDIA</option>
        <option value="PISADA">ESTUDIOS DE PISADA</option>
        <option value="PLANTILLAS">PLANTILLAS</option>
        <option value="OTROS">OTROS</option>
        </select><br>

        <label for="obraSocial">Obra Social</label><br>
        <select id="obraSocial" name="obraSocial">
        <option value="">Selecciona una opción</option>
        <option value="PARTICULAR">PARTICULAR</option>
        <option value="MEDFIFÉ">MEDFIFÉ</option>
        <option value="SWISS MEDICAL">SWISS MEDICAL</option>
        <option value="APROSS">APROSS</option>
        <option value="OSPE">OSPE</option>
        <option value="OSDE">OSDE</option>
        <option value="OMINT">OMINT</option>
        </select><br>


        <label for="query">Consulta:</label><br>
        <textarea id="query" name="query"></textarea><br>
        <input type="submit" value="Enviar">
      </form>

      <div id="socialLinks">
        <h4>Seguinos En Nuestras Redes</h4>

        <div class="redes"> 
          <a href="https://www.facebook.com/Sportkinesiocordoba">
            <i class="fab fa-facebook-f facebook-icon"></i>
          </a>
          <a href="https://www.instagram.com/sportkinesio">
            <i class="fab fa-instagram instagram-icon"></i>
          </a>
          <a href="https://wa.me/543517651805">
            <i class="fab fa-whatsapp whatsapp-icon"></i>
          </a>
        </div>

      </div>
    </div>
    
  </div>
  <script src="/javascripts/index.js"></script>
</body>

</html>