<!DOCTYPE html>
<html lang="en">
  <head>
     <%- include partials/head %> 
  </head>
  
<body id="kinesiologia-body">
  <header>
    <%- include partials/header %>
  </header>
  

</body>
<script src="/javascripts/index.js"></script>
</html>