<!DOCTYPE html>
<html lang="en">
  <head>
     <%- include partials/head %> 
  </head>
  <header>
    <%- include partials/header %>
  </header>
<body id="nosotros">

    <div id="doctorsSectionContainer">
    
    <h1 class="title">Somos Sportkinesio</h1>
    <p class="description">"Somos una empresa familiar comprometida con su bienestar en el ámbito de la salud. Como hermanos, compartimos una profunda pasión por la kinesiología, la fisioterapia, la deportología y la osteopatía. Nuestro enfoque se basa en la dedicación, la responsabilidad y la honestidad, valores que consideramos fundamentales en el cuidado de la salud. En nuestro consultorio médico, trabajamos de manera colaborativa para ofrecer a nuestros pacientes un enfoque integral y personalizado para su bienestar. Pueden esperar de nosotros un trato cercano y profesional, orientado a resolver sus necesidades de salud de manera efectiva y compasiva. Estamos aquí para ayudarles a alcanzar sus objetivos de salud y bienestar, brindándoles el mejor cuidado posible."</p>
    <div class="card-container">

      <div class="profesional">
        <img src="/images/guille.fw.png" alt="Foto del profesional" class="card-img">
        <h3 class="card-title">Lic. Guillermo Arias</h3>
        <h4 class="card-subtitle">Kinesiologo MP:4989</h4>
        <p class="card-text">Licenciado en Kinesiología y Fisioterapia. Osteopatía y Posturología</p>
      </div>

      <div class="profesional">
        <img src="/images/jor.fw.png" alt="Foto del profesional" class="card-img">
        <h3 class="card-title">Lic. Jorge Arias </h3>
        <h4 class="card-subtitle">Kinesiologo MP:7167</h4>
        <p class="card-text">Licenciado en Kinesiología y Fisioterapia. Especialista en rehabilitacion traumatológica, deportiva y alteracion de pisada</p>
      </div>
      <div class="profesional">
        <img src="/images/lu.fw.png" alt="Foto del profesional" class="card-img">
        <h3 class="card-title">Lic. Lucia Cazajous</h3>
        <h4 class="card-subtitle">Kinesióloga MP:8337</h4>
        <p class="card-text">Especialista en rehabilitacion traumatológica, deportiva y alteracion de pisada</p>
      </div>
    </div>
  </div>
          


</body>
<script src="/javascripts/index.js"></script>
</html>