* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Work Sans', sans-serif;
  
}
html {
  height: 100%;
  margin: 0; 
  padding: 0; 
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0; 
  padding: 0; 
  overflow-x: hidden;
}

/*HEADER*/

#header-container {
  z-index: 20; 
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  width:100%;
  background-color: #2a3c5d;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icons-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1; 
  padding: 20px;
  margin: 20px;
}


.icons-header a {
  position: relative;
  padding-left: 40px;
  color: #f5f5ff;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: color 0.5s ease;
  text-decoration: none;
  overflow: hidden;
}

.icons-header a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9fbd3c;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.icons-header a:hover {
  color: #9fbd3c;
}

.icons-header a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hamburger-menu {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: #f5f5ff;
  z-index: 101;
}

/*BACKGROUND VIDEO HEADER*/

#videoContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1; 
}

#videoContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Añade un fondo negro con 50% de transparencia */
}

#myVideo {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 0; 
  
}

/*TEXTO DEL VIDEO HEADER*/

#videoText {
  position: absolute; 
  top: 30%; /* Este es el punto en el que el texto comenzará a moverse con el scroll */
  left: 2%; /* Ajusta según sea necesario */
  z-index: 1;
  width: 70%; /* Asegura que #videoText ocupe la mayor parte del ancho de la pantalla */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos hijos a la izquierda */
}

#firstPart, #lastPart {
  color: white;
  opacity: 0; /* Inicia el texto invisible */
  animation: fadeIn 2s ease-in forwards; /* Aplica la animación a fadeIn */
}

#firstPart {
  color: white; /* Cambia el color del primer texto a blanco */
  font-weight: bold;
  font-size: 1.5rem;
}

#lastPart {
  color: #9FBD3C;
  font-size: 2.5rem;
  margin-left: 39%;
  animation-delay: 1s; 
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*---------------CONTAINER NOSOTROS Y NUESTRO PROFESIONALES DEL INDEX-----------------*/

#doctorsSection {
  position: relative;
  width: 100%;
  background-color: #f5f5f5; 
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 60px;
}

#doctorsSection h1{
  margin-top: 60px;
  color: #2a3c5d;
}


#doctorsSection::after {
  content: "";
  position: absolute;
  bottom: -100px; 
  width: 100%;
  height: 130px;
  background-color: #f5f5f5;
  transform: skewY(1deg);
  transform-origin: bottom left;
}

.contenedorProfesionales {
  margin-top: 60px;
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
}
.profesional {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin: 20px;
  max-width: 300px; 
}

.profesional img {
  width: 100px; 
  height: 100px; 
  object-fit: cover;
  border-radius: 50%; 
  margin-bottom: 20px;
}

.profesional h2 {
  margin-bottom: 10px;
  color: #2a3c5d;
}

.profesional h3 {
  margin-bottom: 10px;  
  color: #777;
  font-weight: normal;
}

.profesional p {
  color: #666;
}


/*-----------CONTAINER SERVICIOS EN EL INDEX-----------*/

.servicios-container {
  position: relative;
  z-index: 10;
  margin-top: 120px;
  background-color: #2a3c5d;
  padding-bottom: 100px; 
}
.servicios-container::before {
  content: "";
  position: absolute;
  top: -100px; 
  width: 100%;
  height: 220px;
  background-color: #2a3c5d;
  transform: skewY(-2deg);
  transform-origin: top left;
  z-index: -1 ;
}
.servicios-container h1 {
  color: #f5f5f5;
  text-align: center;
  margin-top: 60px;
}

.servicios-container .servicios {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr)); 
  gap: 20px;
  margin: 50px; 
}

.tarjeta-servicio {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}
.tarjeta-servicio h2 {
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  color: #2a3c5d;
}
.tarjeta-servicio .masInfo {
  margin-top: auto; /* Empujar el botón hacia abajo */
  display: flex;
  justify-content: center; 
}
.tarjeta-servicio .masInfo a {
  color: #f5f5f5; 
  background-color: #2a3c5d; 
  text-decoration: none;
  margin-top: 40px;
  padding: 10px 20px;
  display: inline-block; 
  border-radius: 20px; 
  transition: background-color 0.3s ease; 
}
.tarjeta-servicio .masInfo a:hover {
  background-color: #0056b3; 
}

.tarjeta-servicio img {
  width:100%;
  height: 200px; 
  object-fit: cover;
  border-radius: 10px;
}
.tarjeta-servicio .masInfo {
  display: flex;
  justify-content: center; 
}
.tarjeta-servicio ul {
  margin: 0;
  padding: 0 0 0 20px; 
}

/*--------------CONTAINER OBRAS SOCIALES INDEX------------*/

.obras-sociales-container {
  position: relative;
  z-index: 10;
  margin-top: 120px;
  background-color: #f5f5f5;
  padding-bottom: 100px; 
}
.obras-sociales-container::before {
  content: "";
  position: absolute;
  top: -100px; 
  width: 100%;
  height: 220px;
  background-color: #f5f5f5;
  transform: skewY(-2deg);
  transform-origin: top left;
  z-index: -1 ;
}
.obras-sociales-container h1 {
  color: #2a3c5d;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.obras-sociales {
  width: 50%;
  margin: 0 auto;
}
.slick-next {
  right: -25px; 
}
.tarjeta-obra-social img {
  width: 100%;
  height: 200px; 
  object-fit: contain;
}
.slick-center img {
  transform: scale(1.1);
}

/*-----------Container Seccion Footer index ----------- */

#videoContainerFooter {
  position: relative;
  width: 100%;
  height: 200vh;
  z-index: 1; 
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  flex-wrap: wrap; 
}
#myVideoFooter{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
}
#videoTextFooter{
  position: relative; 
  top: 15%; 
  left: 5%; 
  z-index: 1;
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}
#primeraParte, #ultimaParte {
  color: white;
  opacity: 0; 
  animation: fadeIn 2s ease-in forwards; 
}

#primeraParte {
  color: white; 
  opacity: 0; 
  animation: fadeIn 2s ease-in forwards; 
  font-size: 2rem;
}

#ultimaParte {
  color: #9FBD3C;
  font-size: 2rem;
  margin-left: 20%;
  opacity: 0; 
  animation: fadeIn 2s ease-in forwards;
  animation-delay: 1s; 
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#container-contacto {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  padding: 20px; 
  z-index: 100; 
  width: 35%; 
  background-color: rgba(255, 255, 255, 0.8); 
  align-self: flex-start; 
  border-radius: 20px; 
  align-items: center;
  flex-wrap: wrap; 
  margin-left: 20px;
  margin-top: -200px;
}

#datos, #mapContainer {
  flex: 1; 
  margin: 5px;
  align-items: center;
  text-align: center;
}

#datos h2 {
  color: #2a3c5d; 
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px; 
}

#datos p {
  color: #666;
  margin-bottom: 20px; 
  font-weight: bold;
}
#mapContainer h2{
  color: #2a3c5d; 
  margin-bottom: 10px; 
  font-size:18px;
  font-weight: bold;
}
#mapContainer iframe {
  width: 100%;
  height: 100%; 
  margin-top: 20px;
}


#socialContainer {
  width: 30%; 
  background-color: rgba(255, 255, 255, 0.8); 
  margin-right: 20px;
  margin-top: -200px;
  border-radius: 20px;
  z-index: 2; 
  overflow: auto;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}
#socialContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#socialContainer form label {
  margin-bottom: -10px; 
}

#socialContainer form input[type="text"],
#socialContainer form select,
#socialContainer form textarea {
  margin-top: 0; 
}
#socialContainer label{
  color: #2a3c5d;
  font-weight: bold;
  display: block; 
  text-align: center; 
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}

#socialContainer h4 {
  color: #2a3c5d;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 20px;
}

#socialContainer input[type="text"],
#socialContainer select,
#socialContainer textarea {
  font-weight: bold;
  color: #2a3c5d;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.redes a:hover i {
  transform: scale(2);
  color: white; 
}
#socialContainer textarea {
  width: 100%; 
  height: 60px; 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
 
}
#socialContainer input[type="submit"] {
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  cursor: pointer; 
  padding: 10px 20px; 
  border-radius: 5px; 
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#socialContainer input[type="submit"]:hover {
  background-color: #0056b3;
}

#socialContainer .redes{
  display: flex;
  justify-content: center;
  align-items: center;
}
#socialContainer a {
  margin: 0 60px;
}
#socialLinks{
  margin-bottom: 20px;
}
#socialLinks h4{
  font-size: 18px;
  font-weight: bold;
}
#socialContainer .facebook-icon,
#socialContainer .instagram-icon,
#socialContainer .whatsapp-icon {
  color: #666; 
  font-size: 25px;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}
#socialContainer .facebook-icon:hover {
  color: #3b5998;
  transform: scale(2);
}
#socialContainer .instagram-icon:hover {
  color: #e1306c;
  transform: scale(2);
}
#socialContainer .whatsapp-icon:hover {
  color: #25D366;
  transform: scale(2);
}


/*------------------SECCION NOSOTROS-------------*/


/*BODY NOSOTROS*/
#nosotros {
  position: relative;
  background-image: url('/images/nosotros.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

#doctorsSectionContainer {
  animation: fadeIn 2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 15px; 
  padding: 50px;
  box-sizing: border-box; 
  max-width: 1200px; 
  position: relative;
  z-index: 2;
  display: block; 
  margin-top: 80px; 
  margin-bottom: 100px;
  margin-left: 12%;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.title, .description, .nosotros-profesional {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

.title {
  animation-delay: 0.5s;
  text-align: center; 
  color: #2a3c5d; 
  padding-bottom: 20px;
}

.description {
  animation-delay: 1s;
  color: #2a3c5d; 
  padding-bottom: 20px;
}

.card-container {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
}

.profesional {
  animation-delay: 1.5s;
  text-align: center;
  border-radius: 10px; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  align-items: center; 
  padding: 20px; 
  transition: background-color 0.5s ease, transform 0.3s ease; 
}

.profesional:hover {
  background-color: #2a3c5d; 
}
.profesional:hover .card-img {
  transform: scale(1.3); 
}
.profesional:hover .card-title,
.profesional:hover .card-subtitle,
.profesional:hover .card-text {
  color: white; 
}

.card-img {
  border-radius: 50%;
  width: 100px; 
  height: 100px;
  object-fit: cover; 
  transition: transform 0.3s ease;
}

.card-title{
  padding: 10px;
  color: #2a3c5d;
}

.card-subtitle{
  padding: 10px;
  color: #2a3c5d;
}

.card-text{
  padding: 10px;
  color: #2a3c5d;
}

/* -------------------Seccion Kinesiologia- Fisioterapia----------- */

#kinesiologia-body {
  background-image: url('/images/fisioterapia.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#main-container {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 1200px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

#main-container h1 {
  margin-bottom: 30px;
  color: #2a3c5d; 
}

.carousel img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 0 10px; 
}

.text-container {
  margin-top: 30px;
  color: #2a3c5d; 
  font-weight: bold                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #4CAF50;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.5s ease;
  margin-top: 20px;
  border-radius: 10px;
}

.btn:hover {
  background-color: #2a3c5d;
}


/* -------------------Seccion ORTOPEDIA----------- */

#ortopedia-body {
  background-image: url('/images/ortopedia3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#main-container-ortopedia {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 1200px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

#main-container h1 {
  margin-bottom: 30px;
  color: #2a3c5d; 
}

.carousel img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 0 10px; 
}

.text-container {
  margin-top: 30px;
  color: #2a3c5d; 
  font-weight: bold                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ;
}


/*-------------MEDIA QUERYS RESPONSIVE--------*/
@media (max-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
  }

  .logo-container {
    text-align: center;
  }

  .icons-header {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 50%; 
    transform: translateX(-50%);
    width: auto; 
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 20px;
  }

  .icons-header a {
    display: block;
    padding: 10px;
    color: #2a3c5d;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  .icons-header.show {
    display: flex;
    opacity: 1; 
  }
  .icons-header a:hover {
    background-color: #2a3c5d; 
    color: #f5f5f5; 
  }


  .hamburger-menu {
    display: block;
  } 
  
  .servicios-container .servicios {
    grid-template-columns: repeat(1, 1fr); /* Cambia esto */
  }
  #myVideoFooter {
    height: 300vh; 
  }
  #socialContainer {
    width: 90%; 
    padding: 0 5%; 
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px; 
    overflow: auto; 
  }
  #socialContainer a {
    margin: 0 10px; /* Reducir el margen en pantallas pequeñas */
  }
  #container-contacto {
    width: 90%; 
    padding: 0 5%; 
    margin-right: auto;
    margin-left: auto;
    margin-top: 300px; 
  }
  /*---------seccion nosotros responsive-----------*/
  .description {
    display: none; /* Ocultar el texto en dispositivos pequeños */
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr); /* Cambiar la disposición de la cuadrícula a una sola columna */
  }

  #doctorsSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding: 20px; 
    width: 90%; 
    padding: 0 5%; 
    margin-right: auto;
    margin-left: auto;
  } 
  /*--------Seccion Kinesiologia-----*/
  #main-container {
    margin-top: 60px;
    max-width: 90%; /* Ajustar el ancho máximo */
    padding: 10px; /* Reducir el padding */
  }
}



